<div class="btn-group"></div>
    <button type="button" class="btn-prev" disabled>السابق</button>
    <button type="button" class="btn-next">التالي</button>
    <button type="button" class="btn-submit">ارسال</button>
</div>