<div class="dashboard_container">
  <h2 class="section-title">حالة الطلبات</h2>
  <div class="status-container">
    <div class="request-status-box">
      <div class="status-left">
        
        <img src="../img/icon-All.png" class="icon-class" aria-hidden="true">
      </div>
      <div class="status-right">
        <h3 class="status-title">عدد الطلبات</h3>
        <p class="status-value" id="totalRequestsCount">0</p>
      </div>
    </div>
    <div class="request-status-box">
      <div class="status-left">
        <img src="../img/icon-Acc.png" class="icon-class" aria-hidden="true">
      </div>
      <div class="status-right">
        <h3 class="status-title">مقبولة</h3>
        <p class="status-value" id="approvedRequestsCount">0</p>
      </div>
    </div>
    <div class="request-status-box">
      <div class="status-left">
        <img src="../img/icon-decl.png" class="icon-class" aria-hidden="true">
      </div>
      <div class="status-right">
        <h3 class="status-title">مرفوضة</h3>
        <p class="status-value" id="disapprovedRequestsCount">0</p>
      </div>
    </div>
  </div>
  

  <h2 class="section-title">أحدث التقارير</h2>
  <div class="reports-container" id="reportsContainer">
    <div class="report-card">
      <i class="fas fa-caret-left arrow-icon"></i>
      <p class="report-detail"></p>
      <p class="report-detail"></p>
      <p class="report-detail"></p>
    </div>
    <div class="report-card">
      <i class="fas fa-caret-left arrow-icon"></i> 
      <p class="report-detail"></p>
      <p class="report-detail"></p>
      <p class="report-detail"></p>
    </div>
    <div class="report-card">
    <i class="fas fa-caret-left arrow-icon"></i> 
      <p class="report-detail"></p>
      <p class="report-detail"></p>
      <p class="report-detail"></p>
    </div>
  </div>


<h2 class="section-title">الإجراءات السريعة</h2>
<div class="actions-container">
<div class="action-card">
<div class="action-icon"><i class="fas fa-map-marker-alt"></i></div>
<h3 class="action-title">الاقتراحات</h3>
<p class="action-description">ابدأ عملية اقتراحات بالنسبة الى المنافسين و استراتيجية 15 دقيقة</p>
<button id="recommendationsButton" class="action-button"><i class="fas fa-arrow-left"></i></button>
</div>
<div class="action-card">
<div class="action-icon"><i class="fas fa-chart-line"></i></div>
<h3 class="action-title">التقرير</h3>
<p class="action-description">اعرض جميع التقارير السابقة لديك</p>
<button id="report-Button" class="action-button"><i class="fas fa-arrow-left"></i></button>
</div>
<div class="action-card">
<div class="action-icon"><i class="fas fa-file-alt"></i></div>
<h3 class="action-title">تقديم طلب جديد</h3>
<p class="action-description">ابدأ عملية تقديم طلب تحليل متطلبات البلدية</p>
<button id="formContentButton" class="action-button"><i class="fas fa-arrow-left"></i></button>
</div>
</div>

</div>
