<!-- location container -->
<div class="location_container">
    <div id="page" class="site">
        <div class="container">
            <div class="form-box">
                <form action="">
                    <!-- Step 1 here -->
                    <form action="/submitForm" method="POST">
                        <div class="form-one form-step active">
                            <div class="bg-svg"></div>
                            <h2>بيانات النشاط</h2>
                            <p>ادخل بيانات النشاط</p>
                            <div>
                                <label>اختر نوع النشاط</label>
                                <select name="businessType" id="businessType" required>
                                    <option value="" disabled selected>الرجاء الاختيار</option>
                                    <option value="food-markets">نشاط الاغذية</option>
                                </select>
                            </div>
                            <div>
                                <label>اختر تصنيف النشاط الفرعي</label>
                                <select name="subBusinessType" id="businessType" required>
                                    <option value="" disabled selected>الرجاء الاختيار</option>
                                    <option value="cafe">مقاهي</option>
                                </select>
                            </div>
                        </div>
                        <!-- Step 2 here -->
                        <div class="form-two form-step">
                            <h2>بيانات الموقع</h2>
                            <p>ادخل بيانات الموقع</p>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="activityType">نوع النشاط ؟</label>
                                    <select name="activityType" id="activityType">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="openStore">متجر مفتوح</option>
                                        <option value="closedStoreCity">متجر مغلق داخل المدينة</option>
                                        <option value="closedStoreOutsideCity">متجر مغلق خارج الكتلة العمرانية</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="partOfLargerBuilding">هل النشاط جزء من مبنى أكبر ؟</label>
                                    <select name="partOfLargerBuilding" id="partOfLargerBuilding">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="yes">نعم</option>
                                        <option value="no">لا</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="buildingType">إذا كان جزءًا من مبنى، ما هو نوع المبنى ؟</label>
                                    <select name="buildingType" id="buildingType">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="commercial">تجاري</option>
                                        <option value="residential">سكني</option>
                                        <option value="mixed">مختلط</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="parkingSpaces">عدد موقف السيارات</label>
                                    <input type="text" name="parkingSpaces" id="parkingSpaces" placeholder="٣" min="0"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="onCommercialStreet">هل يقع النشاط على شارع تجاري ؟</label>
                                    <select name="onCommercialStreet" id="onCommercialStreet">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="yes">نعم</option>
                                        <option value="no">لا</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="logisticsArea">هل يقع النشاط في منطقة خدمات لوجستية ؟</label>
                                    <select name="logisticsArea" id="logisticsArea">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="yes">نعم</option>
                                        <option value="no">لا</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="warehouseArea">هل يقع النشاط في منطقة مستودعات ؟</label>
                                    <select name="warehouseArea" id="warehouseArea">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="yes">نعم</option>
                                        <option value="no">لا</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Step 3 here -->
                        <div class="form-three form-step">
                            <div class="bg-svf"></div>
                            <h2>النتيجة</h2>
                            <div>
                                <p>موقعك لايتوافق مع الاشتراطات لمعرفة الاسباب</p>
                            </div>
                            <div class="btn-group">
                                <button type="submit" class="btn-press">اضغط هنا</button>
                            </div>
                        </div>

                        <!-- Button groups here -->
                        <div id="error-message" style="color: red; display: none; margin-top: -15px;"></div>
                        <div class="btn-group">
                            <button type="button" class="btn-prev" disabled>السابق</button>
                            <button type="button" class="btn-next">التالي</button>
                            <button type="button" class="btn-submit">ارسال</button>
                        </div>
                        <!-- End of button groups -->
                    </form>
                    <!-- Steps sidebar here-->
                    <div class="progress">
                        <div class="logo"><a href="/"><span>..</span>اهلا بك</a></div>
                        <ul class="progress-steps">
                            <li class="step active">
                                <span>١</span>
                                <p>بيانات النشاط <br><span>٢٥ ثانية للاكمال</span></p>
                            </li>
                            <li class="step">
                                <span>٢</span>
                                <p>بيانات الموقع <br><span>٩٠ ثانية للاكمال</span></p>
                            </li>
                            <li class="step">
                                <span>٣</span>
                                <p>الـنــتــيــــجـة<br><span>٢٥ ثانية للاكمال</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- End of sidebar -->
            </div>
        </div>
    </div>
    <!-- End of location container -->
</div>