<!-- location container -->
<div class="location_container">
    <div id="page" class="site">
        <div class="container">
            <div class="form-box">
                <form action="">
                    <!-- Step 1 here -->
                    <form action="/submitForm" method="POST">
                        <div class="form-one form-step active">
                            <div class="bg-svg"></div>
                            <h2>بيانات النشاط</h2>
                            <p>ادخل بيانات النشاط</p>
                            <div>
                                <label>اختر نوع النشاط</label>
                                <select name="businessType" id="businessType" required>
                                    <option value="" disabled selected>الرجاء الاختيار</option>
                                    <option value="food-markets">نشاط الاغذية</option>
                                </select>
                            </div>
                            <div>
                                <label>اختر تصنيف النشاط الفرعي</label>
                                <select name="subBusinessType" id="businessType" required>
                                    <option value="" disabled selected>الرجاء الاختيار</option>
                                    <!-- Render activities passed from Node.js -->
                                    <% activities.forEach(function(activity) { %>
                                        <option value="<%= activity %>">
                                            <%= activity %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                        </div>
                        <!-- Step 2 here -->
                        <div class="form-two form-step">
                            <h2>بيانات الموقع</h2>
                            <p>ادخل بيانات الموقع</p>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="activityType">نوع النشاط ؟</label>
                                    <select name="activityType" id="activityType">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="closedStoreCity">متجر مغلق داخل المدينة</option>
                                        <option value="closedStoreOutsideCity">متجر مغلق خارج الكتلة العمرانية</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="partOfLargerBuilding">هل النشاط جزء من مبنى أكبر ؟</label>
                                    <select name="partOfLargerBuilding" id="partOfLargerBuilding">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="yes">نعم</option>
                                        <option value="no">لا</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="buildingType">إذا كان جزءًا من مبنى، ما هو نوع المبنى ؟</label>
                                    <select name="buildingType" id="buildingType">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="commercial">تجاري</option>
                                        <option value="residential">سكني</option>
                                        <option value="mixed">تجاري سكني</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="parkingSpaces">عدد موقف السيارات</label>
                                    <input type="text" name="parkingSpaces" id="parkingSpaces" placeholder="٣" min="0"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="onCommercialStreet">هل يقع النشاط على شارع تجاري ؟</label>
                                    <select name="onCommercialStreet" id="onCommercialStreet">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="yes">نعم</option>
                                        <option value="no">لا</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="logisticsArea">هل يقع النشاط في منطقة خدمات لوجستية ؟</label>
                                    <select name="logisticsArea" id="logisticsArea">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="yes">نعم</option>
                                        <option value="no">لا</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="warehouseArea">هل يقع النشاط في منطقة مستودعات ؟</label>
                                    <select name="warehouseArea" id="warehouseArea">
                                        <option value="">الرجاء الاختيار</option>
                                        <option value="yes">نعم</option>
                                        <option value="no">لا</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Step 3 here -->
                        <div class="form-three form-step">
                            <div class="Step3 Result">
                                <h2>النتيجة</h2>
                                <div id="resultMessage" class="result-message"></div>
                            </div>
                        </div>

                        <!--Step 4 anlysis-->
                        <div class="form-four form-step">
                            <p>يمكنك تزويدنا بخطوط الطول والعرض او يمكنك الاختيار مباشره من الخريطة</p>
                            <div class="form-group">
                                <label for="latitude">ادخل خط العرض</label>
                                <input type="text" id="latitude" placeholder="e.g., 21.5" />
                            </div>

                            <div class="form-group">
                                <label for="longitude">ادخل خط الطول</label>
                                <input type="text" id="longitude" placeholder="e.g., 39.2" />
                                <div id="resultMessage1" class="result-message1"></div>
                            </div>
                            
                            <div class="map-section2">
                                <div id="map2" style="height: 270px; width: 100%; border-radius: 10px; box-shadow: 0 2px 10px #1C4A69;"></div>
                            </div>  

                        </div>
                        <input type="hidden" name="step3Result" id="step3Result">
                        <input type="hidden" name="step3Status" id="step3Status">
                        <input type="hidden" name="step4Result" id="step4Result">
                        
                        <!-- Button groups here -->
                        <div id="error-message" style="color: red; display: none; margin-bottom: 85px;"></div>
                        <div class="btn-group">
                            <button type="button" class="btn-result" onclick="getResult()">النتيجة</button>
                            <button type="button" class="btn-prev" disabled>السابق</button>
                            <button type="button" class="btn-next">التالي</button>
                            <button type="submit" class="btn-submit">ارسال</button>
                        </div>
                        <!-- End of button groups -->
                    </form>
                    <!-- Steps sidebar here-->
                    <div class="progress">
                        <div class="logo"><span>..</span>اهلا بك</div>
                        <ul class="progress-steps">
                            <li class="step active">
                                <span>١</span>
                                <p>بيانات النشاط <br><span>٢٥ ثانية للاكمال</span></p>
                            </li>
                            <li class="step">
                                <span>٢</span>
                                <p>بيانات الموقع <br><span>٩٠ ثانية للاكمال</span></p>
                            </li>
                            <li class="step">
                                <span>٣</span>
                                <p>الـنــتــيــــجـة<br><span>٢٥ ثانية للاكمال</span></p>
                            </li>
                            <li class="step">
                                <span>4</span>
                                <p>تحليل الموقع<br><span>٢٥ ثانية للاكمال</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- End of sidebar -->
            </div>
        </div>
    </div>
    <!-- End of location container -->
</div>
