<div class="side_bar">
    <div class="side_bar_top">
        <div class="picture">
            <img src="/img/Ruhksati.png" alt="Ruhksati">
        </div>
        <div class="info">
            <h3>اهلا بك</h3>
            <p>ابدأ الآن</p>
        </div>
    </div>
    <div class="side_bar_bottom">
        <ul>
            <li class="active">
                <span class="top_curve"></span>
                <a href="#">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item" class="dashboard-item">لوحة التحكم</span></a>
                <span class="bottom_curve"></span>
            </li>
            <li>
                <span class="top_curve"></span>
                <a href="../pages/form.html">
                    <span class="icon"><i class="fas fa-fighter-jet"></i></span>
                    <span class="item">طلب تحليل الموقع</span></a>
                <span class="bottom_curve"></span>
            </li>
            <li>
                <span class="top_curve"></span>
                <a href="#">
                    <span class="icon"><i class="far fa-newspaper"></i></span>
                    <span class="item"> التقارير</span></a>
                <span class="bottom_curve"></span>
            </li>
            <li>
                <span class="top_curve"></span>
                <a href="#">
                    <span class="icon"><i class="fas fa-chart-pie"></i></span>
                    <span class="item">اقتراحات</span></a>
                <span class="bottom_curve"></span>
            </li>
            <li>
                <span class="top_curve"></span>
                <a href="#">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="item">اعدادات</span></a>
                <span class="bottom_curve"></span>
            </li>
        </ul>
    </div>
</div>