<div class="side_bar">
    <div class="side_bar_top">
        <div class="picture">
            <a href="/"> <img src="../img/NobackgroundLogoWhite.png" alt="logo"></a>
        </div>
        <div class="info">
            <h3>اهلا بك</h3>
            <p>
                <%= userName %>
            </p>
        </div>
    </div>
    <div class="side_bar_bottom">
        <ul>
            <li class="active" onclick="showContent('dashboard')">
                <span class="top_curve"></span>
                <a href="javascript:void(0);">
                    <span class="item" class="dashboard-item">لوحة التحكم</span>
                    <span class="icon"><i class="fas fa-home"></i></span>
                </a>
                <span class="bottom_curve"></span>
            </li>
            <li onclick="showContent('formContent')">
                <span class="top_curve"></span>
                <a href="javascript:void(0);">
                    <span class="item">طلب تحليل الموقع</span>
                    <span class="icon"><i class="fas fa-fighter-jet"></i></span>
                </a>
                <span class="bottom_curve"></span>
            </li>
            <li onclick="showContent('reports')">
                <span class="top_curve"></span>
                <a href="javascript:void(0);">
                    <span class="item">التقارير</span>
                    <span class="icon"><i class="far fa-newspaper"></i></span>
                </a>
                <span class="bottom_curve"></span>
            </li>
            <li onclick="showContent('recommendations')">
                <span class="top_curve"></span>
                <a href="javascript:void(0);">
                    <span class="item">اقتراحات</span>
                    <span class="icon"><i class="fas fa-chart-pie"></i></span>
                </a>
                <span class="bottom_curve"></span>
            </li>
            <li onclick="showContent('settings')">
                <span class="top_curve"></span>
                <a href="javascript:void(0);">
                    <span class="item">اعدادات</span>
                    <span class="icon"><i class="fas fa-cog"></i></span>
                </a>
                <span class="bottom_curve"></span>
            </li>
            <li>
                <a href="/logout" class="logout">
                    <span class="item">تسجيل خروج</span>
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                </a>
                <span class="bottom_curve"></span>
            </li>
        </ul>
        
    </div>
</div>