.login {
    background-color: #F8F9FA;
  }
  
  h3.text-right {
    font-size: 40px;
    font-weight: 250; /* حجم الخط المراد تصغيره */
  }
  
  .login,.image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('/img/Privacy.gif');
    background-size: 110%;
    background-position: center center;
  }
  
  img {
    box-shadow: 1px 1px 3px #7c7d7d;
  }
  
  .btn-custom {
    background-color: #3E8C74;
    color: white;
  }
  
  .text-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-separator {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }
  
  .form-separator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1px solid #1C4A69;
  }
  
  .form-separator span {
    position: relative;
    background-color: #F8F9FA;
    padding: 0 10px;
  }
  
  .form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .form-footer p {
    text-align: center;
  }
  
  .input-height {
    height: 5vh;
    width: 100%;
    font-size: 16px;
    padding: 12px;
    margin-bottom: 10px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #F8F9FA;
    color: #000;
    position: relative;
    padding: 5px;
    margin-top: 1px;
  }
  
  #message p {
    padding: 1px ;
    margin-left: 35px;
    font-size: 14px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }