.btn-submit1 {
    padding: 10px 20px;
    background-color: #1C4A69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-row {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 2em; 
}
.form-group {
    display: flex;
    flex-direction: column; 
}
select {
    width: 100%; 
    padding: 0.5em; 
    border: 1px solid #ffffff;
    border-radius: 4px; 
}
#map {
    height: 270px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px #1C4A69;
}

/* Cards */
/* Recommendations Container */
.recommendations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    width: 100%;
    max-width: 350px; /* Smaller width for compact layout */
    border: 2px solid var(--main-color); /* Green border */
    border-radius: 12px;
    background: #f4f8f7; /* Light background color for contrast */
    box-shadow: 0 4px 10px rgba(28, 74, 105, 0.1);
}

/* Recommendations Card */
.recommendation-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(28, 74, 105, 0.1);
    padding: 15px; /* Increased padding for better spacing */
    width: 90%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 15px auto; /* Center the card */
    position: relative;
    overflow: hidden;
}
/* Hover Effect */
.recommendation-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
}

.recommendation-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: transform 0.5s ease;
}

.recommendation-card:hover::before {
    transform: none;
}

/* Header */
.recommendation-card h3 {
    color: #1C4A69;
    font-size: 1em; /* Smaller font size */
    font-weight: 600;
    text-align: center;
    padding-bottom: 4px;
}


.recommendation-card h3::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 50%;
    height: 3px; 
    background: linear-gradient(90deg, #1C4A69, #3E8C74); 
    border-radius: 2px;
    transform: translateX(-50%);
}

/* Info Items styles */
.recommendation-card .info-row {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.recommendation-card .info-item {
    font-size: 0.85em; /* Smaller font size for compact look */
    padding: 5px;
}
.recommendation-card .info-item:hover {
    transform: translateY(-3px); 
}

.recommendation-card .info-item span:first-child {
    font-weight: bold;
    font-size: 0.9em;
    color: #1C4A69;
    margin-bottom: 4px;
}

.recommendation-card .info-item span:last-child {
    font-size: 1.2em;
    color: #3E8C74;
}

/* Competitors List Style */
.competitors-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    gap: 6px;
    margin-top: 15px;
    justify-content: center;
}

.competitors-list li {
    background-color: #ffffff;
    color: #3E8C74;
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(28, 74, 105, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.competitors-list li:hover {
    background-color: #ffffff; /* Pure white */
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}