.btn-submit1 {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-row {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 2em; 
}
.form-group {
    display: flex;
    flex-direction: column; 
}
select {
    width: 100%; 
    padding: 0.5em; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}
#map {
    height: 270px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Cards */

.recommendations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
}

.recommendation-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 80%; 
    box-sizing: border-box;
    transition: transform 0.2s;
}

.recommendation-card:hover {
    transform: scale(1.02);
    border-color: #1C4A69;
}

.recommendation-card h3 {
    margin-top: 0;
    color: #1C4A69;
}

.competitors-list {
    margin-top: 10px;
    padding: 0;
    list-style-type: none; 
}

.competitors-list li {
    margin: 5px 0; 
}
