#reportContainer {
    width: 1200px;
    margin: 10px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#reportHead {
    font-size: 20px;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden; 
}

th, td {
    padding: 15px;
    border: 1px solid #3E8C74;
    text-align: center; 
    vertical-align: middle; 
}

th {
    background-color: #fafafa;
    color: #1C4A69;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

tr:hover {
    background-color: #eaeaea;
    transition: background-color 0.3s, transform 0.3s;
}

td {
    transition: background-color 0.3s;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}
.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    color: 3E8C74;
    text-decoration: none;
    border: 1px solid #ccc;
}
.pagination a.active {
    font-weight: bold;
    background: linear-gradient(135deg, #1C4A69, #3E8C74);
    color: white;
}