<div class="progress"></div>
    <div class="logo"><a href="/"><span>..</span>اهلا بك</a></div>
    <ul class="progress-steps">
        <li class="step active">
            <span>١</span>
            <p>بيانات النشاط <br><span>٢٥ ثانية للاكمال</span></p>
        </li>
        <li class="step">
            <span>٢</span>
            <p>بيانات الموقع <br><span>٩٠ ثانية للاكمال</span></p>
        </li>
        <li class="step">
            <span>٣</span>
            <p>الـنــتــيــــجـة<br><span>٢٥ ثانية للاكمال</span></p>
            <div class="btn-group">
                <button type="button" class="btn-press">اضغط هنا</button>
            </div>
        </li>
    </ul>
</div>